*.autosave
*.cmake
*.dir
*.exe
*.filters
*.idb
*.map
*.ncb
*.o
*.obj
*.opensdf
*.res
*.sdf
*.sln
*.suo
*.tds
*.user
*.vcproj
*.vcxproj
*~
.vs
CMakeCache.txt
CMakeFiles
Debug
Makefile
Release
TMP1.$$$
build
ipch
x64
*-old
*.skrold
config_Debug.bat
config_MinSizeRel.bat
config_Release.bat
config_RelWithDebInfo.bat
*.dat
*.log
!/tools/mcpp/mcpp.exe
*.tmp
pack-cl-32
pack-cl-64
!/includes.dat
